---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import SocialProof from '../components/SocialProof.astro';
import Demo from '../components/Demo.astro';
import WhatIs from '../components/WhatIs.astro';
import Features from '../components/Features.astro';
import ForAgents from '../components/ForAgents.astro';
import HowItWorks from '../components/HowItWorks.astro';
import QuickStart from '../components/QuickStart.astro';
import ApiReference from '../components/ApiReference.astro';
import PitchHuman from '../components/PitchHuman.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <SocialProof />
    <Demo />
    <WhatIs />
    <Features />
    <ForAgents />
    <HowItWorks />
    <QuickStart />
    <ApiReference />
    <PitchHuman />
  </main>
  <Footer />
</Layout>
